@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("woff2");
  font-weight: 700;
}